* {
    padding: 0;
    border: 0;
    box-sizing: border-box; /* won't exceed specified width and height */
}

main {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: column; /* column = vertical */
    align-items: center;
    background: url("../imgs/hero-bg.jpg") top center;
    background-size: cover;
    padding: 20px;
    z-index: 0; /* places this as a bottom layer */
}

main:before {
    content: "";
    background: rgba(255, 255, 255, 0.70);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

section {
    z-index: 5; /* places this as a top layer (greater value = higher layer) */
}

/** Header **/

section.header {
    display: flex;
    justify-content: space-between; /* behavior is similar to justify in docs */
    width: 100%;
    padding: 10px 30px 40px;
    line-height: 0.6em;
    align-items: center;
}

.header div{
    text-align: center;
}

.header div h2 {
    letter-spacing: 0.2em;
    font-size: 28px;
    color: #2B3E51;
}

.header div p {
    color: #7F8A96;
    font-size:20px;
}

a {
    cursor: pointer;
    font-size: 28px;
}

i {
    color: #687784;
}

/** Section Split **/

section.sectioning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 0 15px;
    border-bottom: 1px solid #77869830; /* 30 = opacity 30% */
    margin-bottom: 40px;
}

.sectioning span{
    margin-right: 35px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-weight: bold;
    color: #778698;
}

/** Classification Section **/

section.classification {
    position: relative; /* position within parent container */
    width: 100%;
    text-align: center;
    padding: 20px 15px;
    display: flex;
    border: 1px solid #ddd;
    justify-content: space-around; /* centering while ensuring two elements have equal space between also */
    max-width: 800px;
    min-height: 690px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #f5f7faaf; /* AF = opacity */
}

div#input-section{
    position: relative;
    border-right: 1px solid #ddd;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 280px;
}

h3 {
    letter-spacing: 2px;
}

/* Submit Button */

#submit-button {
    width: 150px; 
    height: 42px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: rgb(255, 255, 255);
    background-color: #35baf6;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(12, 158, 236, 0.35); /* x, y, spread, color */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none; /* if linked, no outline */
    font-weight: 600;
    margin-top: 10px;
}

#submit-button:hover {
    background-color: #35baf6;
    box-shadow: 0px 15px 20px rgba(79, 195, 247, 0.4);
    color: #fff;
    transform: translateY(-5px); /* on hover, will move up 5px */
}

/** Input Fields */

.input-field {
    display: flex;
    margin: 15px;
    text-align: left;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: rgb(126, 125, 126);
}

.form-control {
    padding: 5px 10px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 7px;
}

/* Output Section  */

#output-section {
    width: 100%;
    margin: 0 40px;
}

table {
    border-collapse: collapse; /* smaller spacing between cells */
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    background-color: #010101af;
}

table caption {
    font-size: 1.2em;
    margin: 0.9em 0 0.75em 0;
    font-weight: bold;
    letter-spacing: 2px;
}

table tr {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 0.35em;
}

table th, table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.65em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(126, 125, 126);
    font-family: 'Source Sans Pro', sans-serif;
}