{% extends "stroke/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles %}

{% block content %}
    <main>
        <section class="header">
            <a href="{% url 'home' %}"><i class="fa fa-arrow-left"></i></a>
            <div class="title">
                <h2>Stroke Risk Prediction</h2>
                <p>Input your age, gender, and health metrics to see if you are at risk of having a stroke.</p>
            </div>
            <a href="{% url 'home' %}"><i class="fa fa-times"></i></a>
        </section>
        <section class="sectioning">
            <div>
                <span>Predict</span>
                <span>Data Library</span>
            </div>
        </section>
        <section class="classification">
            <div id="input-section">
                <form action="{% url 'predict' %}" method="post">
                    <h3>Predict Stroke Risk</h3>
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="input-field">
                        <label for="field.label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" id="submit-button">Predict</button>
                </form>
            </div>
            <div id="output-section">
                <table>
                    <caption>Classification Results</caption>
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Confidence</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if predictions %}
                            {% for class, prediction in predictions %}
                                <tr>
                                    <td>{{ class }}</td>
                                    <td>{{ prediction }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>N/A</td>
                                <td>N/A</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock content %}